<form action="/answer" data-turbo="false" class="row g-3">
 <div class="col-auto">
    <label for="enterQuestion" class="ask">Ask your coach anything</label>
  </div>
  <div class="d-flex flex-row">
  <div class="col-auto">
    <input class="p-2" type="text" name="question" placeholder="Question here" class="form-control">
  </div>
  <div class="col-auto">
    <input class="p-2" type="submit" value="ASK" class="btn btn-secondary mb-3" >
  </div>
  </div>
</form>
